<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="alert alert-success col-md-6 text-center" role="alert">
      Puedes Ingresar Valores Manualmente o subir un archivo de Excel<br>
      <a class="text-primary" href="" data-toggle="modal" data-target="#modalImagen">¿Qué debe contener el archivo Excel
        a importar?</a>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="onFileChange($event)"
            accept=".xlsx">
          <label class="custom-file-label" for="inputGroupFile02">Subir Archivo...</label>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row mt-3" *ngIf="asignado.length > 0">
    <div class="col-md-2">
      <h4 class="text-dark text-center">Datos</h4>
      <div class="row m-2">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Organismos</th>
              <th scope="col" class="text-center">Extension</th>
              <th scope="col" class="text-center">UNIDAD/DEPARTAMENTO</th>
              <th scope="col" class="text-center">PARTIDA</th>
              <th scope="col" class="text-center">asignado</th>
              <th scope="col" class="text-center">MODIFICADO</th>
              <th scope="col" class="text-center">VIGENTE</th>
              <th scope="col" class="text-center">CERTIFICADO</th>
              <th scope="col" class="text-center">COMPROMETIDO</th>
              <th scope="col" class="text-center">DEVENGADO</th>
              <th scope="col" class="text-center">PAGADO</th>
              <th scope="col" class="text-center">SALDO POR COMPROMETER</th>
              <th scope="col" class="text-center">SALDO POR DEVENGAR</th>
              <th scope="col" class="text-center">SALDO POR PAGAR</th>
              <th scope="col" class="text-center">% EJECUCION</th>
              <th scope="col" class="text-center">CORRELATIVO</th>
              <th scope="col" class="text-center">EOD</th>
              <th scope="col" class="text-center">CODIGO ESTRUCTURA PRESUPUESTARIA</th>
              <th scope="col" class="text-center">CODIGO ITEM</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of asignado; index as i">
              <th scope="row" *ngIf="i<asignado.length-1">{{ i + 1 }}</th>
              <th scope="row" *ngIf="asignado.length-1==i" class="bg-secondary text-white"> Total </th>
              <td class="text-center">{{ item.Organismos}}</td>
              <td class="text-center">{{ item.Extension}}</td>
              <td class="text-center">{{ item.Departamento}}</td>
              <td class="text-center">{{ item.Partida}}</td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center" *ngIf="i<asignado.length-1"><input class="form-control" [value] = 'item.Asignado' type="text"></td>
              <td scope="col" *ngIf="asignado.length-1==i" class="bg-secondary text-white">{{asignado[asignado.length-1].Asignado}}</td>
              <td scope="col" *ngIf="asignado.length-1==i" class="bg-secondary text-white">{{asignado[asignado.length-1].Extension}}</td>
              <td scope="col" *ngIf="asignado.length-1==i" class="bg-secondary text-white">{{asignado[asignado.length-1].Departamento}}</td>
              <td scope="col" *ngIf="asignado.length-1==i" class="bg-secondary text-white">{{asignado[asignado.length-1].Partida}}</td>



              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    

<div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalImagen" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ejemplo de Archivo Excel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/img/indicacion-excel.png" class="img-fluid" alt="Responsive image">
      </div>
      <div class="modal-footer">
        <div class="col-md-2"></div>
        <a type="button" class="btn btn-success col-md" href="assets/file/plantilla-para-ingresar-datos.xlsx">Descargar
          Plantilla</a>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>